.no-icon {
  display: none;
}

/* layer legends in layertree */
.legend {
  height: 32px;
  width: 32px;
  border-radius: 5px;
}

.fetchLegend {
  border-radius: 5px;
}

.harboursLegend {
  border-radius: 5px;
}
