/**
 * Generates a set of style rules for the "navigation" tab UI.
 */

.x-title-icon-navigation {
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: FontAwesome;
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}
/*
.x-form-display-field {
    color: #ff0000;
}*/

/* text showing logged in username next to logout button */
.logoutLabel {
    color: #696969;
    font-size: 12px;
}

/* layer legends in layertree */
.legend {
    height: 32px;
    width: 32px;
    border-radius: 5px;
}

.fetchLegend {
    /*height: 300px;*/
    /*width: 150px;*/
    border-radius: 5px;
}

.selectedTitle {
    color: red;
}